USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedTableType [dbo].[TABLE_TaiSanType]    Script Date: 5/8/2026 12:40:01 AM ******/
CREATE TYPE [dbo].[TABLE_TaiSanType] AS TABLE(
	[TenTS] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/8/2026 12:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @MaHD INT,
    @TargetDate DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @TongPhaiTra DECIMAL(18, 2);
    DECLARE @TongDaTra DECIMAL(18, 2);
    SET @TongPhaiTra = dbo.fn_CalcMoneyTransaction(@MaHD, @TargetDate);
    SELECT @TongDaTra = ISNULL(SUM(SoTienTra), 0) 
    FROM AuditLog 
    WHERE MaHD = @MaHD AND NgayTra <= @TargetDate;
    RETURN @TongPhaiTra - @TongDaTra;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 5/8/2026 12:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @MaHD INT, 
    @TargetDate DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @Goc DECIMAL(18, 2);
    DECLARE @DL1 DATETIME, @NgayLap DATETIME;
    DECLARE @TongTien DECIMAL(18, 2);
    DECLARE @SoNgayLaiDon INT, @SoNgayLaiKep INT;
    DECLARE @TiLeLaiHangNgay FLOAT = 0.005; 
    SELECT @Goc = SoTienVayGoc, @DL1 = Deadline1, @NgayLap = NgayLap 
    FROM HopDong WHERE MaHD = @MaHD;
    IF @TargetDate <= @DL1
    BEGIN
        SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayLap, @TargetDate);
        IF @SoNgayLaiDon < 0 SET @SoNgayLaiDon = 0;
        SET @TongTien = @Goc + (@Goc * @TiLeLaiHangNgay * @SoNgayLaiDon);
    END
    ELSE
    BEGIN
        SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayLap, @DL1);
        SET @TongTien = @Goc + (@Goc * @TiLeLaiHangNgay * @SoNgayLaiDon);
        SET @SoNgayLaiKep = DATEDIFF(DAY, @DL1, @TargetDate);
        SET @TongTien = @TongTien * POWER((1 + @TiLeLaiHangNgay), @SoNgayLaiKep);
    END

    RETURN @TongTien;
END;
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/8/2026 12:40:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[NguoiThu] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/8/2026 12:40:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[NgayLap] [datetime] NULL,
	[Deadline1] [datetime] NOT NULL,
	[Deadline2] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/8/2026 12:40:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/8/2026 12:40:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTS] [nvarchar](100) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu], [GhiChu]) VALUES (51, 51, CAST(N'2026-05-07T23:36:55.180' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Hệ thống', N'Khởi tạo hợp đồng - Vay gốc: 10000000.00')
INSERT [dbo].[AuditLog] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu], [GhiChu]) VALUES (52, 52, CAST(N'2026-05-07T23:36:55.183' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Hệ thống', N'Khởi tạo hợp đồng - Vay gốc: 16000000.00')
INSERT [dbo].[AuditLog] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu], [GhiChu]) VALUES (53, 53, CAST(N'2026-05-07T23:36:55.183' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Hệ thống', N'Khởi tạo hợp đồng - Vay gốc: 12000000.00')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [SoTienVayGoc], [NgayLap], [Deadline1], [Deadline2], [TrangThai]) VALUES (51, 51, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-07T23:36:55.180' AS DateTime), CAST(N'2026-03-28T23:36:55.177' AS DateTime), CAST(N'2026-04-27T23:36:55.177' AS DateTime), N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [SoTienVayGoc], [NgayLap], [Deadline1], [Deadline2], [TrangThai]) VALUES (52, 52, CAST(16000000.00 AS Decimal(18, 2)), CAST(N'2026-05-07T23:36:55.183' AS DateTime), CAST(N'2026-03-28T23:36:55.183' AS DateTime), CAST(N'2026-04-27T23:36:55.183' AS DateTime), N'Đã thanh toán đủ')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [SoTienVayGoc], [NgayLap], [Deadline1], [Deadline2], [TrangThai]) VALUES (53, 53, CAST(12000000.00 AS Decimal(18, 2)), CAST(N'2026-05-07T23:36:55.183' AS DateTime), CAST(N'2026-03-28T23:36:55.183' AS DateTime), CAST(N'2026-04-27T23:36:55.183' AS DateTime), N'Đã thanh toán đủ')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [DiaChi]) VALUES (51, N'Nguyễn Minh Tiến 1', N'0911551948', N'Phường Quang Trung, TN')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [DiaChi]) VALUES (52, N'Trần Thu Linh 2', N'0945320489', N'Đại học Kỹ thuật Công nghiệp')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [DiaChi]) VALUES (53, N'Phạm Hoàng Nam 3', N'0935753184', N'Phổ Yên, Thái Nguyên')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (64, 51, N'Laptop Gaming MSI', CAST(13000000.00 AS Decimal(18, 2)), N'Đang cầm cố', 0)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (65, 52, N'MacBook Pro M3', CAST(24000000.00 AS Decimal(18, 2)), N'Đã trả khách', 0)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (66, 53, N'Xe máy Honda AirBlade', CAST(13200000.00 AS Decimal(18, 2)), N'Đã trả khách', 1)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPaymentAndReturnAsset]    Script Date: 5/8/2026 12:40:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcessPaymentAndReturnAsset]
    @MaHD INT,
    @SoTienKhachTra DECIMAL(18, 2),
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TargetDate DATETIME = GETDATE();
    DECLARE @TongNoHienTai DECIMAL(18, 2);
    DECLARE @IsAnyAssetSold BIT;
    DECLARE @Deadline2 DATETIME;
    SELECT @Deadline2 = Deadline2 FROM HopDong WHERE MaHD = @MaHD;
    SELECT @IsAnyAssetSold = CASE WHEN EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1) THEN 1 ELSE 0 END;

    -- KIỂM TRA ĐIỀU KIỆN THANH LÝ 
    IF @TargetDate > @Deadline2 AND @IsAnyAssetSold = 1
    BEGIN
        PRINT N'Thông báo: Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.';
        RETURN;
    END
    SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);
    DECLARE @DuNoConLai DECIMAL(18, 2) = @TongNoHienTai - @SoTienKhachTra;
    INSERT INTO AuditLog (MaHD, NgayTra, SoTienTra, NguoiThu, GhiChu)
    VALUES (@MaHD, @TargetDate, @SoTienKhachTra, @NguoiThu, 
            N'Trả nợ. Dư nợ còn lại: ' + CAST(@DuNoConLai AS NVARCHAR(50)));

    IF @DuNoConLai <= 0
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
        UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD AND IsSold = 0;
        PRINT N'Xác nhận: Đã thanh toán đủ. Đã làm thủ tục trả toàn bộ tài sản.';
    END
    ELSE
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
        PRINT N'Xác nhận: Đã ghi nhận số tiền trả. Dư nợ còn lại: ' + CAST(@DuNoConLai AS NVARCHAR(50));
        PRINT N'--- DANH SÁCH TÀI SẢN CÓ THỂ TRẢ LẠI NGAY ---';
        
        SELECT MaTS, TenTS, GiaTriDinhGia
        FROM TaiSan
        WHERE MaHD = @MaHD 
          AND TrangThaiTS = N'Đang cầm cố'
          AND @DuNoConLai <= (
              SELECT SUM(GiaTriDinhGia) 
              FROM TaiSan TS2 
              WHERE TS2.MaHD = @MaHD 
                AND TS2.TrangThaiTS = N'Đang cầm cố' 
                AND TS2.MaTS <> TaiSan.MaTS 
          );
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterNewContract]    Script Date: 5/8/2026 12:40:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterNewContract]
    @HoTen NVARCHAR(100),
    @SoDienThoai VARCHAR(15),
    @DiaChi NVARCHAR(255),
    @SoTienVayGoc DECIMAL(18, 2),
    @Deadline1 DATETIME,
    @Deadline2 DATETIME,
    @DanhSachTaiSan TABLE_TaiSanType READONLY 
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @MaKH INT;
        SELECT @MaKH = MaKH FROM KhachHang WHERE SoDienThoai = @SoDienThoai;
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (HoTen, SoDienThoai, DiaChi)
            VALUES (@HoTen, @SoDienThoai, @DiaChi);
            SET @MaKH = SCOPE_IDENTITY();
        END
        DECLARE @MaHD INT;
        INSERT INTO HopDong (MaKH, SoTienVayGoc, NgayLap, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, @SoTienVayGoc, GETDATE(), @Deadline1, @Deadline2, N'Đang vay');    
        SET @MaHD = SCOPE_IDENTITY(); 
        INSERT INTO TaiSan (MaHD, TenTS, GiaTriDinhGia, TrangThaiTS, IsSold)
        SELECT @MaHD, TenTS, GiaTriDinhGia, N'Đang cầm cố', 0
        FROM @DanhSachTaiSan;
        INSERT INTO AuditLog (MaHD, NgayTra, SoTienTra, NguoiThu, GhiChu)
        VALUES (@MaHD, GETDATE(), 0, N'Hệ thống', N'Khởi tạo hợp đồng - Vay gốc: ' + CAST(@SoTienVayGoc AS NVARCHAR(50)));
        COMMIT TRANSACTION;
        PRINT N'Đăng ký hợp đồng thành công!';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
